In [1]:
import re
import nltk
import string
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")

/Users/rithvik17/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
import re
import nltk
import string
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from keras.preprocessing.text import Tokenizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /Users/rithvik17/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rithvik17/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/rithvik17/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/rithvik17/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [3]:
fake_df = pd.read_csv("Fake.csv")
fake_df

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [4]:
true_df = pd.read_csv("True.csv")
true_df

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [5]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
# create new column that combines title and text together called title_text_combined
true_df['title_text_combined'] = true_df['title'] + " " + true_df['text']
# add response column and set to 1 for true dataset
true_df["response"] = 1
true_df.head()

,title,text,subject,date,title_text_combined,response
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017","As U.S. budget fight looms, Republicans flip t...",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",U.S. military to accept transgender recruits o...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",Senior U.S. Republican senator: 'Let Mr. Muell...,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",FBI Russia probe helped by Australian diplomat...,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",Trump wants Postal Service to charge 'much mor...,1

In [8]:
# create new column that combines title and text together called title_text_combined
fake_df['title_text_combined'] = fake_df['title'] + " " + fake_df['text']
# add response column and set to 1 for true dataset
fake_df["response"] = 0
fake_df.head()

,title,text,subject,date,title_text_combined,response
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",Donald Trump Sends Out Embarrassing New Year’...,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",Drunk Bragging Trump Staffer Started Russian ...,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",Sheriff David Clarke Becomes An Internet Joke...,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",Trump Is So Obsessed He Even Has Obama’s Name...,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",Pope Francis Just Called Out Donald Trump Dur...,0

In [9]:
true_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                21417 non-null  object
 1   text                 21417 non-null  object
 2   subject              21417 non-null  object
 3   date                 21417 non-null  object
 4   title_text_combined  21417 non-null  object
 5   response             21417 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1004.0+ KB

In [10]:
fake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                23481 non-null  object
 1   text                 23481 non-null  object
 2   subject              23481 non-null  object
 3   date                 23481 non-null  object
 4   title_text_combined  23481 non-null  object
 5   response             23481 non-null  int64
dtypes: int64(1), object(5)
memory usage: 1.1+ MB

In [11]:
# remove title, text, subject and date columns
fake_df.drop(["title", "text", "subject","date"],axis = 1,inplace = True)
true_df.drop(["title", "text", "subject","date"],axis = 1,inplace = True)

In [12]:
# convert all text to lowercase
fake_df['title_text_combined'] = fake_df['title_text_combined'].apply(lambda x:x.lower())
true_df['title_text_combined'] = true_df['title_text_combined'].apply(lambda x:x.lower())

In [13]:
# tokenization - this may take a while...
fake_df['title_text_combined'] = fake_df['title_text_combined'].apply(lambda x:word_tokenize(x))
true_df['title_text_combined'] = true_df['title_text_combined'].apply(lambda x:word_tokenize(x))

In [14]:
# removing punctuation
import string
fake_df['title_text_combined'] = fake_df['title_text_combined'].apply(lambda x:[wrd for wrd in x if wrd not in string.punctuation])
true_df['title_text_combined'] = true_df['title_text_combined'].apply(lambda x:[wrd for wrd in x if wrd not in string.punctuation])
fake_df.head()

                                 title_text_combined  response
0  [donald, trump, sends, out, embarrassing, new,...         0
1  [drunk, bragging, trump, staffer, started, rus...         0
2  [sheriff, david, clarke, becomes, an, internet...         0
3  [trump, is, so, obsessed, he, even, has, obama...         0
4  [pope, francis, just, called, out, donald, tru...         0

In [15]:
# removing stopwords
stop_words = set(stopwords.words('english'))

fake_df['title_text_combined'] = fake_df['title_text_combined'].apply(lambda x:[wrd for wrd in x if wrd not in stop_words])
true_df['title_text_combined'] = true_df['title_text_combined'].apply(lambda x:[wrd for wrd in x if wrd not in stop_words])

In [16]:
fake_df['title_text_combined'].head()

0    [donald, trump, sends, embarrassing, new, year...
1    [drunk, bragging, trump, staffer, started, rus...
2    [sheriff, david, clarke, becomes, internet, jo...
3    [trump, obsessed, even, obama, ’, name, coded,...
4    [pope, francis, called, donald, trump, christm...
Name: title_text_combined, dtype: object

In [17]:
# generate word cloud for fake and true datasets
from wordcloud import WordCloud

def generate_wordcloud(text):
    wordcloud = WordCloud(width=800, height=400, background_color='white').generate(text)
    plt.figure(figsize=(10, 5))
    plt.imshow(wordcloud, interpolation='bilinear')
    plt.axis('off')
    plt.show()

In [18]:
from itertools import chain
# Generate word cloud from the 'text' column in fake_df
fake_text = ' '.join(list(chain.from_iterable(fake_df['title_text_combined'])))

# generate_wordcloud(' '.join(fake_df['title_text_combined']))

In [19]:
# Generate word cloud from the 'text' column in fake_df
# generate_wordcloud(fake_text)

In [20]:
# # Generate word cloud from the 'text' column in true_df
# true_text = ' '.join(list(chain.from_iterable(true_df['title_text_combined'])))
# generate_wordcloud(true_text)

In [21]:
from nltk.stem.porter import *
# stemming of words
stemmer = PorterStemmer()
fake_df['title_text_combined'] = fake_df['title_text_combined'].apply(lambda x:[stemmer.stem(wrd) for wrd in x])
true_df['title_text_combined'] = true_df['title_text_combined'].apply(lambda x:[stemmer.stem(wrd) for wrd in x])

In [22]:
fake_df.head()
true_df.head()

                                 title_text_combined  response
0  [u.s., budget, fight, loom, republican, flip, ...         1
1  [u.s., militari, accept, transgend, recruit, m...         1
2  [senior, u.s., republican, senat, 'let, mr., m...         1
3  [fbi, russia, probe, help, australian, diploma...         1
4  [trump, want, postal, servic, charg, 'much, am...         1

In [23]:
# remove any empty tokens from both fake_df and true_df
fake_df['title_text_combined'] = fake_df['title_text_combined'].apply(lambda x:[wrd for wrd in x if wrd != ''])
true_df['title_text_combined'] = true_df['title_text_combined'].apply(lambda x:[wrd for wrd in x if wrd != ''])

In [24]:
# POS tagging
from nltk import pos_tag
nltk.download('averaged_perceptron_tagger')
fake_df_pos_tagged = fake_df['title_text_combined'].apply(lambda x:pos_tag(x))
true_df_pos_tagged = true_df['title_text_combined'].apply(lambda x:pos_tag(x))

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/rithvik17/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [25]:
# lemmitization
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
fake_df['title_text_combined'] = fake_df['title_text_combined'].apply(lambda x:[lemmatizer.lemmatize(wrd) for wrd in x])
true_df['title_text_combined'] = true_df['title_text_combined'].apply(lambda x:[lemmatizer.lemmatize(wrd) for wrd in x])

In [26]:
fake_df.head()

                                 title_text_combined  response
0  [donald, trump, send, embarrass, new, year, ’,...         0
1  [drunk, brag, trump, staffer, start, russian, ...         0
2  [sheriff, david, clark, becom, internet, joke,...         0
3  [trump, ob, even, obama, ’, name, code, websit...         0
4  [pope, franci, call, donald, trump, christma, ...         0

In [27]:
true_df.head()

                                 title_text_combined  response
0  [u.s., budget, fight, loom, republican, flip, ...         1
1  [u.s., militari, accept, transgend, recruit, m...         1
2  [senior, u.s., republican, senat, 'let, mr., m...         1
3  [fbi, russia, probe, help, australian, diploma...         1
4  [trump, want, postal, servic, charg, 'much, am...         1

In [28]:
# merging fake and true dataframes together
merged_df = pd.concat([true_df, fake_df], ignore_index=True)
merged_df

                                     title_text_combined  response
0      [u.s., budget, fight, loom, republican, flip, ...         1
1      [u.s., militari, accept, transgend, recruit, m...         1
2      [senior, u.s., republican, senat, 'let, mr., m...         1
3      [fbi, russia, probe, help, australian, diploma...         1
4      [trump, want, postal, servic, charg, 'much, am...         1
...                                                  ...       ...
44893  [mcpain, john, mccain, furiou, iran, treat, u,...         0
44894  [justic, yahoo, settl, e-mail, privaci, class-...         0
44895  [sunnistan, u, alli, ‘, safe, zone, ’, plan, t...         0
44896  [blow, 700, million, al, jazeera, america, fin...         0
44897  [10, u.s., navi, sailor, held, iranian, milita...         0

[44898 rows x 2 columns]

In [29]:
merged_df['title_text_combined']

0        [u.s., budget, fight, loom, republican, flip, ...
1        [u.s., militari, accept, transgend, recruit, m...
2        [senior, u.s., republican, senat, 'let, mr., m...
3        [fbi, russia, probe, help, australian, diploma...
4        [trump, want, postal, servic, charg, 'much, am...
                               ...
44893    [mcpain, john, mccain, furiou, iran, treat, u,...
44894    [justic, yahoo, settl, e-mail, privaci, class-...
44895    [sunnistan, u, alli, ‘, safe, zone, ’, plan, t...
44896    [blow, 700, million, al, jazeera, america, fin...
44897    [10, u.s., navi, sailor, held, iranian, milita...
Name: title_text_combined, Length: 44898, dtype: object

In [30]:
# join text back together
merged_df['title_text_combined'] = merged_df['title_text_combined'].apply(lambda content_list: ' '.join(content_list))

In [31]:
merged_df.head()

                                 title_text_combined  response
0  u.s. budget fight loom republican flip fiscal ...         1
1  u.s. militari accept transgend recruit monday ...         1
2  senior u.s. republican senat 'let mr. mueller ...         1
3  fbi russia probe help australian diplomat tip-...         1
4  trump want postal servic charg 'much amazon sh...         1

In [32]:
# merged_df.to_csv('preprocessed_data.csv', index=False)

In [ ]:
# using tf-idf vectorizer

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense

In [71]:
train_df, test_df = train_test_split(merged_df, test_size=0.2, random_state=42)
train_df, val_df = train_test_split(train_df, test_size=0.1, random_state=42)

In [72]:
tfidf_vectorizer = TfidfVectorizer(max_features=5000)

In [73]:
X_train_tfidf = tfidf_vectorizer.fit_transform(train_df['title_text_combined'])
X_val_tfidf = tfidf_vectorizer.transform(val_df['title_text_combined'])
X_test_tfidf = tfidf_vectorizer.transform(test_df['title_text_combined'])

In [74]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_tfidf.toarray())
X_val_scaled = scaler.transform(X_val_tfidf.toarray())
X_test_scaled = scaler.transform(X_test_tfidf.toarray())

In [75]:
input_dim = X_train_scaled.shape[1]
encoding_dim = 64

In [76]:
input_layer = Input(shape=(input_dim,))
encoder = Dense(encoding_dim, activation='relu')(input_layer)
decoder = Dense(input_dim, activation='sigmoid')(encoder)
autoencoder = Model(inputs=input_layer, outputs=decoder)

In [77]:
autoencoder.compile(optimizer='adam', loss='binary_crossentropy')

In [78]:
autoencoder.fit(X_train_scaled, X_train_scaled,
                epochs=15,
                batch_size=32,
                shuffle=True,
                validation_data=(X_val_scaled, X_val_scaled))

Epoch 1/15
1011/1011 [==============================] - 11s 9ms/step - loss: -26.6787 - val_loss: -90.5596
Epoch 2/15
1011/1011 [==============================] - 9s 9ms/step - loss: -222.1297 - val_loss: -364.3251
Epoch 3/15
1011/1011 [==============================] - 8s 8ms/step - loss: -576.9233 - val_loss: -767.3923
Epoch 4/15
1011/1011 [==============================] - 8s 8ms/step - loss: -1054.3383 - val_loss: -1279.2264
Epoch 5/15
1011/1011 [==============================] - 8s 8ms/step - loss: -1639.0142 - val_loss: -1889.0770
Epoch 6/15
1011/1011 [==============================] - 8s 8ms/step - loss: -2325.9404 - val_loss: -2595.8101
Epoch 7/15
1011/1011 [==============================] - 8s 8ms/step - loss: -3111.4651 - val_loss: -3394.7822
Epoch 8/15
1011/1011 [==============================] - 8s 8ms/step - loss: -3993.6738 - val_loss: -4288.0254
Epoch 9/15
1011/1011 [==============================] - 8s 8ms/step - loss: -4971.1040 - val_loss: -5270.1299
Epoch 10/15
1011/1011 [==============================] - 8s 8ms/step - loss: -6043.8027 - val_loss: -6343.3188
Epoch 11/15
1011/1011 [==============================] - 8s 8ms/step - loss: -7208.6885 - val_loss: -7505.4658
Epoch 12/15
1011/1011 [==============================] - 8s 8ms/step - loss: -8469.3516 - val_loss: -8759.5586
Epoch 13/15
1011/1011 [==============================] - 8s 8ms/step - loss: -9824.6885 - val_loss: -10103.3174
Epoch 14/15
1011/1011 [==============================] - 8s 8ms/step - loss: -11273.7451 - val_loss: -11537.8311
Epoch 15/15
1011/1011 [==============================] - 8s 8ms/step - loss: -12817.1133 - val_loss: -13061.3740

In [79]:
encoder_model = Model(inputs=input_layer, outputs=encoder)
encoded_train = encoder_model.predict(X_train_scaled)
encoded_val = encoder_model.predict(X_val_scaled)
encoded_test = encoder_model.predict(X_test_scaled)

1011/1011 [==============================] - 2s 2ms/step
113/113 [==============================] - 0s 2ms/step
281/281 [==============================] - 0s 2ms/step

In [80]:
classification_input = Input(shape=(encoding_dim,))
classification_output = Dense(1, activation='sigmoid')(classification_input)

classifier = Model(inputs=classification_input, outputs=classification_output)

In [81]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
classifier.fit(encoded_train, train_df['response'], epochs=20, batch_size=32, validation_data=(encoded_val, val_df['response']))

Epoch 1/20
1011/1011 [==============================] - 2s 2ms/step - loss: 53.9890 - accuracy: 0.8254 - val_loss: 6.3227 - val_accuracy: 0.8338
Epoch 2/20
1011/1011 [==============================] - 2s 2ms/step - loss: 4.9938 - accuracy: 0.8611 - val_loss: 4.5904 - val_accuracy: 0.8608
Epoch 3/20
1011/1011 [==============================] - 2s 2ms/step - loss: 4.1269 - accuracy: 0.8653 - val_loss: 4.4011 - val_accuracy: 0.8711
Epoch 4/20
1011/1011 [==============================] - 1s 1ms/step - loss: 3.6980 - accuracy: 0.8688 - val_loss: 4.5515 - val_accuracy: 0.8483
Epoch 5/20
1011/1011 [==============================] - 2s 2ms/step - loss: 3.2419 - accuracy: 0.8716 - val_loss: 2.9045 - val_accuracy: 0.8736
Epoch 6/20
1011/1011 [==============================] - 1s 1ms/step - loss: 3.0050 - accuracy: 0.8720 - val_loss: 3.0769 - val_accuracy: 0.8705
Epoch 7/20
1011/1011 [==============================] - 1s 1ms/step - loss: 2.6153 - accuracy: 0.8745 - val_loss: 2.3739 - val_accuracy: 0.8822
Epoch 8/20
1011/1011 [==============================] - 1s 1ms/step - loss: 2.4910 - accuracy: 0.8757 - val_loss: 3.5094 - val_accuracy: 0.8391
Epoch 9/20
1011/1011 [==============================] - 1s 1ms/step - loss: 2.4861 - accuracy: 0.8765 - val_loss: 2.1747 - val_accuracy: 0.8792
Epoch 10/20
1011/1011 [==============================] - 1s 1ms/step - loss: 2.3301 - accuracy: 0.8755 - val_loss: 1.8651 - val_accuracy: 0.8767
Epoch 11/20
1011/1011 [==============================] - 2s 2ms/step - loss: 2.0493 - accuracy: 0.8787 - val_loss: 4.8411 - val_accuracy: 0.8650
Epoch 12/20
1011/1011 [==============================] - 2s 2ms/step - loss: 2.0005 - accuracy: 0.8790 - val_loss: 2.2075 - val_accuracy: 0.8806
Epoch 13/20
1011/1011 [==============================] - 1s 1ms/step - loss: 1.9377 - accuracy: 0.8800 - val_loss: 1.3965 - val_accuracy: 0.8817
Epoch 14/20
1011/1011 [==============================] - 2s 2ms/step - loss: 2.0052 - accuracy: 0.8792 - val_loss: 1.6700 - val_accuracy: 0.8811
Epoch 15/20
1011/1011 [==============================] - 2s 1ms/step - loss: 1.8423 - accuracy: 0.8803 - val_loss: 1.3745 - val_accuracy: 0.8828
Epoch 16/20
1011/1011 [==============================] - 2s 2ms/step - loss: 1.7674 - accuracy: 0.8830 - val_loss: 1.3849 - val_accuracy: 0.8786
Epoch 17/20
1011/1011 [==============================] - 2s 2ms/step - loss: 1.8146 - accuracy: 0.8833 - val_loss: 1.7664 - val_accuracy: 0.8898
Epoch 18/20
1011/1011 [==============================] - 1s 1ms/step - loss: 1.9435 - accuracy: 0.8831 - val_loss: 2.5955 - val_accuracy: 0.8708
Epoch 19/20
1011/1011 [==============================] - 1s 1ms/step - loss: 1.6003 - accuracy: 0.8825 - val_loss: 1.3335 - val_accuracy: 0.8884
Epoch 20/20
1011/1011 [==============================] - 2s 2ms/step - loss: 1.8895 - accuracy: 0.8824 - val_loss: 1.1875 - val_accuracy: 0.8909

In [82]:
loss, accuracy = classifier.evaluate(encoded_test, test_df['response'])
print("Test Accuracy:", accuracy)

281/281 [==============================] - 0s 1ms/step - loss: 1.0178 - accuracy: 0.9004
Test Accuracy: 0.9004454612731934

In [ ]:
# using word2vec vectorizer

In [83]:
from gensim.models import Word2Vec

In [84]:
sentences = [text.split() for text in train_df['title_text_combined']]
word2vec_model = Word2Vec(sentences, vector_size=100, window=5, min_count=1, workers=4)

In [85]:
def vectorize_sentence(sentence, model):
    vectors = [model.wv[word] for word in sentence if word in model.wv]
    if len(vectors) > 0:
        return np.mean(vectors, axis=0)
    else:
        return np.zeros(model.vector_size)

In [86]:
X_train = np.array([vectorize_sentence(sentence.split(), word2vec_model) for sentence in train_df['title_text_combined']])
X_val = np.array([vectorize_sentence(sentence.split(), word2vec_model) for sentence in val_df['title_text_combined']])
X_test = np.array([vectorize_sentence(sentence.split(), word2vec_model) for sentence in test_df['title_text_combined']])

In [87]:
input_dim = X_train.shape[1]
encoding_dim = 64

In [88]:
input_layer = Input(shape=(input_dim,))
encoder = Dense(encoding_dim, activation='relu')(input_layer)
decoder = Dense(input_dim, activation='sigmoid')(encoder)

In [89]:
autoencoder = Model(inputs=input_layer, outputs=decoder)

In [90]:
autoencoder.compile(optimizer='adam', loss='binary_crossentropy')

In [91]:
autoencoder.fit(X_train, X_train,
                epochs=15,
                batch_size=32,
                shuffle=True,
                validation_data=(X_val, X_val))

Epoch 1/15
1011/1011 [==============================] - 2s 2ms/step - loss: -347.3407 - val_loss: -1069.4347
Epoch 2/15
1011/1011 [==============================] - 2s 2ms/step - loss: -2327.3132 - val_loss: -3960.0476
Epoch 3/15
1011/1011 [==============================] - 2s 2ms/step - loss: -5856.0854 - val_loss: -8236.3174
Epoch 4/15
1011/1011 [==============================] - 2s 2ms/step - loss: -10611.4307 - val_loss: -13669.4980
Epoch 5/15
1011/1011 [==============================] - 2s 2ms/step - loss: -16441.3418 - val_loss: -20153.4492
Epoch 6/15
1011/1011 [==============================] - 1s 1ms/step - loss: -23271.4824 - val_loss: -27639.5820
Epoch 7/15
1011/1011 [==============================] - 2s 1ms/step - loss: -31063.6074 - val_loss: -36097.9023
Epoch 8/15
1011/1011 [==============================] - 1s 1ms/step - loss: -39806.3242 - val_loss: -45525.2578
Epoch 9/15
1011/1011 [==============================] - 2s 1ms/step - loss: -49475.1914 - val_loss: -55882.5508
Epoch 10/15
1011/1011 [==============================] - 1s 1ms/step - loss: -60069.6445 - val_loss: -67200.1328
Epoch 11/15
1011/1011 [==============================] - 2s 2ms/step - loss: -71575.1406 - val_loss: -79427.5625
Epoch 12/15
1011/1011 [==============================] - 2s 2ms/step - loss: -83989.1172 - val_loss: -92600.8125
Epoch 13/15
1011/1011 [==============================] - 2s 2ms/step - loss: -97318.4453 - val_loss: -106698.0469
Epoch 14/15
1011/1011 [==============================] - 2s 2ms/step - loss: -111543.2812 - val_loss: -121713.4453
Epoch 15/15
1011/1011 [==============================] - 2s 2ms/step - loss: -126667.5547 - val_loss: -137645.9219

In [92]:
encoder_model = Model(inputs=input_layer, outputs=encoder)
encoded_train = encoder_model.predict(X_train)
encoded_val = encoder_model.predict(X_val)
encoded_test = encoder_model.predict(X_test)

1011/1011 [==============================] - 1s 889us/step
113/113 [==============================] - 0s 1ms/step
281/281 [==============================] - 0s 1ms/step

In [93]:
classification_input = Input(shape=(encoding_dim,))
classification_output = Dense(1, activation='sigmoid')(classification_input)

classifier = Model(inputs=classification_input, outputs=classification_output)

In [96]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
classifier.fit(encoded_train, train_df['response'], epochs=20, batch_size=32, validation_data=(encoded_val, val_df['response']))

Epoch 1/20
1011/1011 [==============================] - 2s 1ms/step - loss: 0.9994 - accuracy: 0.6510 - val_loss: 0.9880 - val_accuracy: 0.5693
Epoch 2/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.9398 - accuracy: 0.6483 - val_loss: 0.4205 - val_accuracy: 0.8126
Epoch 3/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.8143 - accuracy: 0.6658 - val_loss: 0.8356 - val_accuracy: 0.6030
Epoch 4/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.8520 - accuracy: 0.6654 - val_loss: 0.7468 - val_accuracy: 0.6281
Epoch 5/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.8026 - accuracy: 0.6694 - val_loss: 0.5323 - val_accuracy: 0.7155
Epoch 6/20
1011/1011 [==============================] - 3s 3ms/step - loss: 0.8544 - accuracy: 0.6692 - val_loss: 0.4529 - val_accuracy: 0.7617
Epoch 7/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.7925 - accuracy: 0.6740 - val_loss: 1.5964 - val_accuracy: 0.5398
Epoch 8/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.8405 - accuracy: 0.6633 - val_loss: 1.4722 - val_accuracy: 0.5426
Epoch 9/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.8805 - accuracy: 0.6675 - val_loss: 0.6328 - val_accuracy: 0.6300
Epoch 10/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.8219 - accuracy: 0.6791 - val_loss: 1.7981 - val_accuracy: 0.4805
Epoch 11/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.8399 - accuracy: 0.6654 - val_loss: 0.4457 - val_accuracy: 0.7945
Epoch 12/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.9660 - accuracy: 0.6660 - val_loss: 0.9928 - val_accuracy: 0.5766
Epoch 13/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.8014 - accuracy: 0.6792 - val_loss: 0.8288 - val_accuracy: 0.6105
Epoch 14/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.7904 - accuracy: 0.6774 - val_loss: 1.7187 - val_accuracy: 0.4855
Epoch 15/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.8954 - accuracy: 0.6763 - val_loss: 0.4000 - val_accuracy: 0.8076
Epoch 16/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.7754 - accuracy: 0.6944 - val_loss: 0.4793 - val_accuracy: 0.7383
Epoch 17/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.7392 - accuracy: 0.6879 - val_loss: 2.2169 - val_accuracy: 0.5342
Epoch 18/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.9563 - accuracy: 0.6728 - val_loss: 2.7174 - val_accuracy: 0.5340
Epoch 19/20
1011/1011 [==============================] - 1s 1ms/step - loss: 0.7119 - accuracy: 0.6928 - val_loss: 1.0000 - val_accuracy: 0.5813
Epoch 20/20
1011/1011 [==============================] - 2s 2ms/step - loss: 0.7608 - accuracy: 0.6914 - val_loss: 0.4582 - val_accuracy: 0.7756

In [97]:
loss, accuracy = classifier.evaluate(encoded_test, test_df['response'])
print("Test Accuracy:", accuracy)

281/281 [==============================] - 0s 1ms/step - loss: 0.4404 - accuracy: 0.7869
Test Accuracy: 0.7868596911430359